@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PS03
@namespace PS03.Pages
@model PS03.Pages.TestModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BMICalculator</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>
    <h1>BMI CALCULATOR</h1>

    <h2>Your data</h2>
    <b><label asp-for="person.firstName"></label>:</b>  @Model.person.firstName <br />
    <b><label asp-for="person.email"></label>:</b>  @Model.person.email <br />
    <b><label asp-for="person.age"></label>:</b>  @Model.person.age<br />
    <b><label asp-for="person.unit"></label>:</b>  @Model.person.unit<br />
    <b><label asp-for="person.height"></label>:</b>  @Model.person.height<br />
    <b><label asp-for="person.weight"></label>:</b>  @Model.person.weight<br />
    <b><label asp-for="person.gender"></label>:</b>  @Model.person.gender<br />
    <center>
    <h2>Your BMI</h2>
    <b><label asp-for="person.bmi"></label>:</b> @Model.person.bmi<br />

    @if (@Model.person.bmi >= 25)
    {
        <center>
            <i><span style="color: red"> Your BMI is too high</span></i><br />
        </center>
    }
    else if (@Model.person.bmi < 18.5)
    {
        <center>
            <i><span style="color: red"> Your BMI is too low</span></i><br />
        </center>

    }

    </center>
</body>
</html>